@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.customNews {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }

  .masonry {
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;
    -moz-column-fill: initial;
    -webkit-column-fill: initial;
    column-fill: initial;
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
  }
    .masonry .brick {
      margin-bottom: 20px;
      display:inline-block;
      background-color : #fff;
      width: 100%;
      position: relative;
    }
      .masonry .brick .img {
          -moz-transition: all .5s ease-in-out;
          -webkit-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
          height: 200px;
          width: 100%;
          background-repeat: no-repeat;
          background-position: center;
          border: none !important;
          cursor: pointer;
          background-size: cover;
      }
      .masonry .brick .txt{
          padding : 20px;
          background-color: #f4f4f4;
      }
      .masonry .brick .txt a >h2{
        color: #bfc733 !important;
    }

      .masonry .brick .alt-txt{
          padding : 20px;
          background-color: #55565A;
          color: white;
      }
          .masonry .brick .feature {
            position: absolute;
            right: 0;
            top: 0;
            background-color: #ffb40ab8;
            padding: 5px;
          }
          .masonry .brick .alt-txt a >h2 {
              color: #ffb400 !important;
          }
          
      .masonry .social-numbers{
          font-size: 16px;
          padding-top: 3px;
          text-align: right;
          height: 20px;
      }   
          .masonry .social-numbers .socialPanelIconSpacer{
              padding-left: 5px;
          }
          .masonry .social-numbers .social-icon{
              font-size: 18px;
              padding-right: 4px;
              color: #444;
          }
      
          .masonry .alt-txt .social-numbers .social-icon{
              color: #fff;
          }
          .masonry .alt-txt .social-numbers a{
              color: #ffb400;
          }
          
      .masonry .headline{
          font-size:16px;
          color : #5F7800;
      }
      .masonry .brick:hover .img {
        opacity: .75;
      }
      .masonry.bordered {
        -moz-column-rule: 1px solid #eee;
        -webkit-column-rule: 1px solid #eee;
        column-rule: 1px solid #eee;
        -moz-column-gap: 50px;
        -webkit-column-gap: 50px;
        column-gap: 50px;
      }
          .masonry.bordered .brick {
            margin-bottom: 25px;
            border-bottom: 1px solid #eee;
          } 
  .masonry.gutterless {
    -moz-column-gap: 0;
    -webkit-column-gap: 0;
    column-gap: 0;
  }
  .masonry.gutterless .brick {
    margin-bottom: 0;
  }
  .newsLatest-date{
    font-size : 13px;
    color: #999999;
    padding: 5px;
  }
  .newsLatest-summary{
    font-size: 14px;
    padding: 5px;
  }

  .span {
    -moz-column-span: all;
    -webkit-column-span: all;
    column-span: all;
    *margin: 30px 0;
  }
      
  /* Masonry on large screens */
  @media only screen and (min-width: 1350px) {
    .masonry {
      column-count: 3;
    }
  }
  
  /* Masonry on medium-sized screens */
  @media only screen and (max-width: 1349px) and (min-width: 768px) {
    .masonry {
      column-count: 2;
    }
  }
  
  /* Masonry on small screens */
  @media only screen and (max-width: 767px) and (min-width: 540px) {
    .masonry {
      column-count: 2;
    }
  }
  @media only screen and (max-device-width: 540px){
    .masonry {
      column-count: 1;
    }
      .brick {
          padding-left: 10px !important;
          padding-right: 10px !important;
      }
      .brick .img {
          height: 200px !important;
      }
  }
}


.modalContainer {

  button {
    min-width: 1em;
  }

  .modalHeader {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    background: $ms-color-themePrimary;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 28px;
    font-weight: 100;
    font-weight: 600;
    padding: 0 28px;
    min-height: 40px;


  }

  .modalBody {
      -webkit-box-flex: 4;
      -ms-flex: 4 4 auto;
      flex: 4 4 auto;
      padding: 5px 28px;
      height: 650px;
      width: 1000px;
  }

  .closeButton {
    color: "white"; 
    right: 0;
    position: "absolute";
    padding: "10px";

    i ,
    i :hover{
      color: "white";
    }
  }
}
button[role="gridcell"]{
  min-width: 1em !important;
}